[submodule "useWeb3"]
	path = useWeb3
	url = git@github.com:xusai2014/useWeb3.git
[submodule "web3Info"]
	path = web3Info
	url = git@github.com:xusai2014/web3Info.git
[submodule "chejj-contracts"]
	path = chejj-contracts
	url = git@github.com:xusai2014/chejj-contracts.git
